*.pyc
*.pyo
*.egg
/build/
/dist/
/doc/build/output/
/dogpile_data/
*.orig
*,cover
/.tox
.venv
*.egg-info
.coverage
coverage.xml
.*,cover
*.class
*.so
*.patch
sqlnet.log
/mapping_setup.py
/test.py
/.cache/
*.sw[o,p]
