*.pyc
*.pyd
*.pyo
*.egg
/build/
/dist/
/doc/build/output/
/doc/build/_build/
/dogpile_data/
*.orig
*,cover
/.tox
/venv/
.venv
*.egg-info
.coverage
coverage.xml
.*,cover
*.class
*.so
*.patch
sqlnet.log
/shard?_*.db
/test.cfg
/.cache/
/.mypy_cache
*.sw[o,p]
*.rej
test/test_schema.db
*test_schema.db
.idea
/Pipfile*
/.pytest_cache/
/pip-wheel-metadata/
/.vscode/
/.ipynb_checkpoints/
*.ipynb
/querytest.db
/.pytest_cache
/db_idents.txt
.DS_Store
.vs
