# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/python/black
    rev: 21.5b1
    hooks:
    -   id: black
        additional_dependencies:
          - click < 8.1

-   repo: https://github.com/sqlalchemyorg/zimports
    rev: v0.6.0
    hooks:
    -   id: zimports

-   repo: https://github.com/pycqa/flake8
    rev: 5.0.0
    hooks:
    -   id: flake8
        additional_dependencies:
          - flake8-import-order
          - flake8-builtins
          - flake8-docstrings>=1.3.1
          - flake8-rst-docstrings
          # flake8-rst-docstrings depdendency, leaving it here
          # in case it requires a version pin
          - pydocstyle
          - pygments

-   repo: local
    hooks:
    -   id: black-docs
        name: Format docs code block with black
        entry: python tools/format_docs_code.py --report-doctest -f
        language: system
        types: [rst]
