# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/python/black
    rev: 21.12b0
    hooks:
    -   id: black

-   repo: https://github.com/sqlalchemyorg/zimports
    rev: v0.4.2
    hooks:
    -   id: zimports
        args:
            - --keep-unused-type-checking

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        additional_dependencies:
          - flake8-import-order
          - flake8-builtins
          - flake8-docstrings>=1.6.0
          - flake8-rst-docstrings
          # flake8-rst-docstrings dependency, leaving it here
          # in case it requires a version pin
          - pydocstyle
          - pygments

-   repo: https://github.com/ariebovenberg/slotscheck
    rev: v0.11.0
    hooks:
    -   id: slotscheck
        exclude: "^(?!lib/sqlalchemy)"
        additional_dependencies:
          - typing_extensions
          - mypy
          - greenlet
        entry: env PYTHONPATH=lib slotscheck -v
