# any kind of "*" pulls in __init__.pyc files,
# so all extensions are explicit.

recursive-include doc *.html *.css *.txt *.js *.jpg *.png *.py Makefile *.rst *.mako *.sty
recursive-include examples *.py *.xml
recursive-include test *.py *.dat

# include the c extensions, which otherwise
# don't come in if --with-cextensions isn't specified.
recursive-include lib *.c *.txt

include README* AUTHORS LICENSE distribute_setup.py sa2to3.py ez_setup.py sqla_nose.py CHANGES*
prune doc/build/output
