# any kind of "*" pulls in __init__.pyc files,
# so all extensions are explicit.

recursive-include doc *.html *.css *.txt *.js *.png *.py Makefile *.rst *.sty
recursive-include examples *.py *.xml
recursive-include test *.py *.dat

# include the c extensions, which otherwise
# don't come in if --with-cextensions isn't specified.
recursive-include lib *.c *.txt

include README* AUTHORS LICENSE CHANGES* tox.ini
prune doc/build/output

# don't include pyproject.toml until we
# have explicitly built a pep-517 backend
exclude pyproject.toml
