# any kind of "*" pulls in __init__.pyc files,
# so all extensions are explicit.

recursive-include doc *.html *.css *.txt *.js *.png *.py Makefile *.rst *.sty
recursive-include examples *.py *.xml
recursive-include test *.py *.dat *.testpatch
recursive-include tools *.py

# for some reason in some environments stale Cython .c files
# are being pulled in, these should never be in a dist
exclude lib/sqlalchemy/**/*.c
exclude lib/sqlalchemy/**/*.so

# include the pxd extensions, which otherwise
# don't come in if --with-cextensions isn't specified.
recursive-include lib *.pxd *.txt *.typed

include README* AUTHORS LICENSE CHANGES* tox.ini
prune doc/build/output
