/* documentation section styles */

#topanchor {position:absolute;left:0px;top:0px;width:0px;height:0px;}
#pagecontrol {float:right;}

.topnav {
	background-color: #fbfbee;
	border: solid 1px #ccc;
	padding:10px 10px 0px 10px;
	margin:10px 0px 10px 0px;
}

pre {
    margin:0px;
    padding:0px;
}

.prevnext {
    padding: 5px 0px 0px 0px;
    font-size: 0.8em
}

.codetitle {
	font-family: verdana, sans-serif;
	font-weight: bold;
	text-decoration:underline;
	padding:5px;
}

.codeline {
	font-family: courier, "courier new", serif;
  font-family: "Deja Vu Sans Mono", "Vera Sans Mono", Courier, "Courier New", fixed;
	font-size: 1em;
    color: #960;
}

h1, h2, h3 {
    font-family:arial,helvetica,sans-serif;
}

h1 {
    font: normal 20px/22px arial,helvetica,sans-serif;
    color: #222;
    padding:0px;
   margin:0px;   
}

h2 {
    font-family:arial,helvetica,sans-serif;
    font-size: 1.6em;
    font-weight:normal;
    line-height: 1.6em;
    margin:0px;
}

h3 {
    font-family: arial, sans-serif;
    font-size: 1.4em;
    font-weight:bold;
}

.topnav h3 {
	font-weight: bold;
	font-size: 1.4em;
	margin:0px;
	display:inline;
        font-family:verdana,sans-serif;
}

.topnav h2 {
    margin:26px 4px 0px 5px;
}

.sectionL1 {
    line-height: 1.5em;
    padding:8px 10px 20px 10px;
    margin:10px 0px 0px;
}

.sectionL2 {
    margin:0px 0px 0px 0px;
    line-height: 1.5em;
}

.sectionL3 {
    margin:0px 0px 0px 20px;
    line-height: 1.5em;
}

.sectionL4 {
    margin:0px 0px 0px 20px;
    line-height: 1.5em;
}


.topnav li {
   font-size: 1em;
   list-style-type:none;
   padding:0px 0px 3px 8px;
   margin:0px;
}

.topnav ul ul {
   padding:0px 0px 0px 8px;
}

.topnav ul ul li {
   font-size: 0.9em;
}

.bottomnav {
    background-color:#FBFBEE;
    border:1px solid #CCCCCC;
    float:right;
    margin: 1em 0 1em 5px;
    padding:10px;
}

.toclink {
    font-weight: bold;
	font-size: 1em;
	padding:0px 0px 3px 8px;
	/*border:1px solid;*/
}

.totoc {
    font-size: smaller;
}

.smalltoclink {
	font-size: 0.9em;
	padding:0px 0px 3px 0px;
}

.docstring {
	margin-left:15px;
	margin-bottom:5px;
	margin-top:5px;
}

.darkcell {
	margin:0px 0px 10px 0px;
	padding:4px 4px 4px 4px;
	background-color: #f0f0f0;	
	border: solid 1px #ccc;
}

.sliding_code {
        font-family: "Deja Vu Sans Mono", "Vera Sans Mono", "Monaco", Courier, "Courier New", fixed;
	background-color: #f0f0f0;	
	border: solid 1px #ccc;
	padding:10px;
	margin: 5px 5px 5px 5px;
	overflow:auto;
}

code {
    font-family: "Deja Vu Sans Mono", "Vera Sans Mono", Courier, "Courier New", fixed;
    font-size: 0.95em;
    color: #222;
}

.code {
        font-family: "Deja Vu Sans Mono", "Vera Sans Mono", Courier, "Courier New", fixed;
	background-color: #f0f0f0;	
	border: solid 1px #ccc;
	padding:10px; /*2px 2px 2px 10px;*/
	margin: 5px 5px 5px 5px;
	line-height:1.2em;
}

.codepop
{
        font-family: "Deja Vu Sans Mono", "Vera Sans Mono", Courier, "Courier New", fixed;
        font-size: 0.75em;
	color:#000;
	background-color: #fbfbee;
	border: 1px solid #d9d9d9;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	padding:10px;
	width:95%;
	/*margin:5px 10px 5px 0px;*/
	/*clear:right;*/
}

.codepoplink,
#docs a.codepoplink
{
	font-weight:normal;
	font-family: arial, sans-serif;
    text-transform: uppercase;
	font-size: 0.9em;
	color:#666;
	border:1px solid;
	padding:1px 2px 1px 2px;
	margin:0px 10px 0px 15px;
	float:right;
}
#docs a.codepoplink {
    text-decoration: none;
}
#docs a.codepoplink:hover {
    text-decoration: none;
    color:#fff;
    border:1px solid #900;
    background-color: #900;
}

.versionheader {
    margin-top: 0.5em;
}
.versionnum {
    font-weight: bold;
}
.prerelease {
    border: solid #c25757 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #c21a1a;
    color: white;
    padding: 0.05em 0.2em;
}

@media print {
  #nav { display: none; }
  #pagecontrol { display: none; }
  .topnav .prevnext { display: none; }
  .bottomnav { display: none; }
  .totoc { display: none; }
  .topnav ul li a { text-decoration: none; color: #000; }
}