/* documentation section styles */

.doccontainer {
}

.panecontainer {
}

.sidebar {
	background-color: #EEEEFB;
	border: 1px solid;
	padding: 5px 5px 5px 5px;
	margin: 0px 5px 5px 0px;
	width:120px;
	float:left;
}

 
.sectionnavblock {
}

.sectionnav {
	background-color: #EEEEFB;
	border: 1px solid;
	padding: 10px 10px 10px 10px; 
	margin: 35px 0px 15px 5px;
	float:right;
}


.topnav {
	background-color: #EEEEFB;
	border: 1px solid;
	padding:10px 10px 0px 10px;
	margin:0px 0px 10px 0px;
}

.tipbox {
	background-color: #EEEEFB;
	border:1px solid;
	padding:10px;
	margin: 5px;
}

/* optional margin to add to topnav */
.topnavmargin {
	margin:10px;
}

.topnavsectionlink {
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px;
}

.topnavcontrol {
	float:right;
}

.topnavmain {
	margin: 25px 5px 15px 5px;
}

.topnavheader {
	font-weight: bold;
	font-size: 16px;
	margin: 0px 0px 0px 0px;
	padding:0px 0px 15px 0px;
}

.topnavitems {
	margin: 0px 0px 0px 40px;
}

.prevnext {
	padding: 5px 0px 0px 0px;
}

.code {
	font-family:courier, serif;
	font-size:12px;
	background-color: #E2E2EB;
	padding:2px 2px 2px 10px;
	margin: 5px 5px 5px 5px;
}

.codetitle {
	font-family: verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:underline;
	padding:5px 5px 5px 0px;
}

code {
	font-family:courier, serif;
	font-size:12px;
}

pre {
    /*overflow:auto;*/
}
.codeline {
	font-family:courier, serif;
	font-size:12px;
}


.content {
	border: 1px solid;
	padding: 0px 10px 20px 0px;
}

.sectioncontent {
	border: 1px solid;
	padding: 0px 10px 20px 0px;
}

.onepagecontent {
	border: 1px solid;
	margin: 0px 0px 0px 0px;
}

h1, .docheadertext {
       font-size: 16px;
       font-weight: bold;
       padding: 0px;
       margin: 0px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    display: inline;
    padding: 0px;
    margin: 0px;
}

h3, .sectionheadertext {
	font-weight: bold;
	font-size: 16px;
	display: inline;
}

.docheader {
	margin: 0px 0px 10px 0px;
}

.subsection {
	/* this style is dynamically modified by the indentation */
	margin:15px 0px 0px 0px;
	clear:right;
}

.section {
	padding: 20px 0px 0px 0px;
}


.sectiontext {
	font-size: 12px;
	margin: 5px 0px 0px 0px;
}

.maintoc {
	background-color: #EEEEFB;
	border: 1px solid;
	padding: 10px 10px 10px 10px; 
	margin: 0px 0px 10px 0px;
}

.toc_list {
    padding:0px;
	margin: 0px;
    }
.toc_list li {
	font-size: 12px;
	list-style-type: none;
    padding:0px 0px 3px 8px;
	margin: 0px;
}
.small_toc_list {
    padding: 0px 0px 0px 8px;
}
.small_toc_list li {
	font-size: 11px;
	list-style-type: none;
}
.toclink {
	font-size: 12px;
	padding:0px 0px 3px 8px;
}

.docstring {
	margin-left:15px;
	margin-bottom:5px;
	margin-top:5px;
}

.darkcell {
	margin:0px 0px 10px 0px;
	padding:4px 4px 4px 4px;
	background-color: #D2D2D2;
}

.code {
	font-family:courier, serif;
	font-size:12px;
	background-color: #E2E2EB;
	padding:2px 2px 2px 10px;
	margin: 5px 5px 5px 5px;
	line-height:1.2em;
}

.sliding_code {
	font-family:courier, serif;
	font-size:12px;
	background-color: #E2E2EB;
	padding:2px 2px 2px 10px;
	margin: 5px 5px 5px 5px;
	line-height:1.2em;
	overflow:auto;
}

.codepop {
	font-weight:bold;
	font-family: verdana, sans-serif;
	font-size:12px;
	color:#000000;
	border:1px solid;
	padding:10px;
	width:95%;
	/*margin:5px 10px 5px 0px;*/
	/*clear:right;*/
}

.codepoplink {
	font-weight:bold;
	font-family: verdana, sans-serif;
	font-size:11px;
	color:#000000;
	border:1px solid;
	padding:1px 2px 1px 2px;
	margin:0px 10px 0px 15px;
	float:right;
}
