/* documentation section styles */

.doccontainer {
}

.panecontainer {
}

.sidebar {
	background-color: #fbfbee;
	border: solid 1px #ccc;
	padding: 5px 5px 5px 5px;
	margin: 0px 5px 5px 0px;
	width:120px;
	float:left;
}

 
.sectionnavblock {
}

.sectionnav {
	background-color: #fbfbee;
	border: solid 1px #ccc;
	padding: 10px 10px 10px 10px; 
	margin: 35px 0px 15px 5px;
	float:right;
}


.topnav {
	background-color: #fbfbee;
	border: solid 1px #ccc;
	padding:10px 10px 0px 10px;
	margin:0px 0px 10px 0px;
}

.tipbox {
	background-color: #fbfbee;
	border:1px solid;
	padding:10px;
	margin: 5px;
}

.multipage {
	float:right;
}

/* optional margin to add to topnav */
.topnavmargin {
	margin:10px;
}

.topnavsectionlink {
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px;
}

.topnavcontrol {
	float:right;
}

.topnavmain {
	margin: 25px 5px 15px 5px;
}

.topnavheader {
    font: normal 20px/24px arial,helvetica,sans-serif;
	margin: 0px 0px 0px 0px;
	padding:0px 0px 15px 0px;
}

.topnavitems {
	margin: 0px 0px 0px 40px;
}

.prevnext {
	padding: 5px 0px 0px 0px;
}


.codetitle {
	font-family: verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:underline;
	padding:5px;
}

.codeline {
	font-family: courier, "courier new", serif;
	font-size:1.1em;
    color: #960;
}


.content {
	border: solid 1px #ccc;
	padding: 0px 10px 20px 0px;
}

.sectioncontent {
	border: solid 1px #fff;
	padding: 0px 10px 20px 0px;
    line-height: 1.5em;
}

.onepagecontent {
	border: solid 1px #ccc;
	margin: 0px 0px 0px 0px;
}

h1, .docheadertext {
    font: normal 20px/22px arial,helvetica,sans-serif;
    color: #222;
    padding:0px;
   margin:0px;   
}

h2 {
    font-size:16px;
    font-weight:bold;
    display:inline;
    padding:0px;
    margin:0px;
}

.docheader {
	margin: 0px 0px 10px 0px;
    line-height: 1.2em;
}

.docheaderversion {
	margin: 0.8em 0;
}

.subsection {
	/* this style is dynamically modified by the indentation */
	margin:15px 0px 0px 0px;
	clear:right;
}

.section {
	padding: 20px 0px 0px 0px;
}

h3, .sectionheadertext {
    font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
}

.sectiontext {
	font-size: 12px;
	margin: 5px 0px 0px 0px;
}

.maintoc {
	/*background-color: #fbfbee;*/
    background-color: #fbfbee;	
	border: solid 1px #ccc;
	padding: 10px 10px 10px 10px; 
	margin: 0px 0px 10px 0px;
}

.toclinkcontainer {
	padding:0px 0px 0px 8px;
	/*border:1px solid;*/
}

.tocsection {
	padding:2px 2px 2px 8px;
}

.toc_list {
   padding:0px;
   margin:0px;
}

.toc_list li {
   font-size:12px;
   list-style-type:none;
   padding:0px 0px 3px 8px;
   margin:0px;
}

.small_toc_list {
   padding:0px 0px 0px 8px;
}

.small_toc_list li {
   font-size: 11px;
  list-style-type:none;
}



.toclink {
    font-weight: bold;
	font-size: 12px;
	padding:0px 0px 3px 8px;
	/*border:1px solid;*/
}

.smalltoclink {
	font-size: 11px;
	padding:0px 0px 3px 0px;
}

.docstring {
	margin-left:15px;
	margin-bottom:5px;
	margin-top:5px;
}

.darkcell {
    font-family: courier, "courier new", serif;
	margin:0px 0px 10px 0px;
	padding:4px 4px 4px 4px;
	background-color: #f0f0f0;	
	border: solid 1px #ccc;
}

.sliding_code {
	font-family: courier, "courier new", serif;
	font-size:12px;
	background-color: #f0f0f0;	
	border: solid 1px #ccc;
	padding:2px 2px 2px 10px;
	margin: 5px 5px 5px 5px;
	overflow:auto;
}

.code {
	font-family: courier, "courier new", serif;
	background-color: #f0f0f0;	
	border: solid 1px #ccc;
	padding:2px 2px 2px 10px;
	margin: 5px 5px 5px 5px;
	line-height:1.2em;
}

.codepop
{
	font-family: courier, "courier new", serif;
	color:#000;
	background-color: #fbfbee;
	border: 1px solid #d9d9d9;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;		
	padding:10px;
	width:95%;
	/*margin:5px 10px 5px 0px;*/
	/*clear:right;*/
}


.codepoplink,
#docs a.codepoplink
{
	font-weight:normal;
	font-family: arial, sans-serif;
    text-transform: uppercase;
	font-size:11px;
	color:#666;
	border:1px solid;
	padding:1px 2px 1px 2px;
	margin:0px 10px 0px 15px;
	float:right;
}
#docs a.codepoplink {
    text-decoration: none;
}
#docs a.codepoplink:hover {
    text-decoration: none;
	color:#fff;
	border:1px solid #900;    
    background-color: #900;
}

.popup {
	margin:10px;
}
