
.substitution, .compcall {
	color: #DF2020;
}


.controlline {
	color: #10109E;
}

.doctag_text, .python_comment, .doctag {
	color: #109010;
}

.argstag_text {
	color: #10109E;
}

.blocktag, .python_keyword, .deftag, .argstag {
	#color: #1010FF;
	color: #0908CE;
}

.blocktag_text {
	color: #10109E;
}

.python_literal, .python_number {
	color: #804049;
}

.text {
	color: #807079;
}

.python_operator {
	color: #EF0005;
}

.python_enclosure {
	color: #0000FF;
}

.compname {
	color: #272767;
}

.python_name, name {
	color: #070707;
}




