name: Run tests on a pr

on:
  # run on pull request to main excluding changes that are only on doc or example folders
  pull_request:
    branches:
      - main
    paths-ignore:
      - "examples/**"

env:
  # global env to all steps
  TOX_WORKERS: -n4

permissions:
  contents: read

jobs:
  run-test-amd64:
    name: test-amd64-${{ matrix.python-version }}-${{ matrix.build-type }}-${{ matrix.architecture }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      # run this job using this matrix, excluding some combinations below.
      matrix:
        os:
          - "ubuntu-22.04"
        python-version:
          - "3.13"
        build-type:
          - "cext-greenlet"
          - "cext"
          - "nocext"
        architecture:
          - x64
      # abort all jobs as soon as one fails
      fail-fast: false

    # steps to run in each job. Some are github actions, others run shell commands
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade tox setuptools
          pip list

      - name: Run tests
        run: tox -e github-${{ matrix.build-type }} -- ${{ matrix.pytest-args }}

  run-tox:
    name: ${{ matrix.tox-env }}-${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - "ubuntu-22.04"
        python-version:
          - "3.12"
        tox-env:
          - mypy
          - lint
          - pep484

      fail-fast: false

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade tox setuptools
          pip list

      - name: Run tox
        run: tox -e ${{ matrix.tox-env }} ${{ matrix.pytest-args }}
